.form {
    margin-left: 50px;
}

.input {
    width: 250px;
    padding: 10px;
    margin: 10px 0;
}
.input:focus {
    outline: none;
}

.btn {
    border: none;
    background: #058633;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.error-mgs {
    color: red;
    margin: 10px 0;
}
.invalid {
    border: 2px solid red;
}
.valid {
    border: 2px solid green;
}
